:root {
  --primary-color: hsl(223, 87%, 63%);
  --primary-color-light: hsl(223, 100%, 88%);
  --secondary-color: hsl(354, 100%, 66%);
  --tertiary-color: hsl(0, 0%, 59%);
  --quaternary-color: hsl(209, 33%, 12%);
  --black-color: black;
  --white-color: white;
}

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 20px 0px;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Libre Franklin", sans-serif;
}
.title {
  color: var(--tertiary-color);
  text-align: center;
  font-size: 24px;
}
.title-color {
  color: var(--black-color);
  font-weight: 700;
}
.paragraph {
  text-align: center;
  margin: 20px 0px;
  font-size: 15px;
}

.input-card {
  display: flex;
  flex-direction: column;
}
.error {
  display: none;
  font-size: 12px;
  color: var(--secondary-color);
  align-self: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.error.active {
  display: initial;
}

.email-input.active {
  border: 1.5px solid var(--secondary-color);
}
.submit {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.445);
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: transform 50ms ease-in-out;
}
.submit:hover {
  background-color: var(--primary-color-light);
}
.submit:active {
  transform: scale(0.85);
}

.email-input,
.submit {
  outline: none;
  font-family: "Libre Franklin", sans-serif;
  padding: 12px;
  margin: 5px 0;
  border-radius: 20px;
  border: none;
}
.email-input {
  padding-left: 35px;
  border: 1px solid var(--tertiary-color);
}
::placeholder {
  color: var(--tertiary-color);
}
.email-input.active {
  border: 1.5px solid var(--secondary-color);
}
.submit {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.445);
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--white-color);
  transition: transform 50ms ease-in-out;
}
.submit:hover {
  background-color: var(--primary-color-light);
}
.submit:active {
  transform: scale(0.85);
}

